Package: com.defying.DocsDylibLoader
Name: DocsDylibLoader
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: defying
Author: defying
Section: Tweaks
